.menuWrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .menu {
    pointer-events: auto;

    padding: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .link {
      padding: 4px;
      margin: 2px;
      opacity: 0.5;

      transition: 200ms;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      .notTactile &:hover {
        opacity: 0.75;
      }

      &.focused {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}
