.main {
  max-width: 400px;
  max-height: 100%;
  padding: 50px 16px;
  margin: auto;

  cursor: default;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  animation: spawn 500ms 1;

  * {
    word-break: break-word;
  }

  h1.mainTitle {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Lobster";
    letter-spacing: 1px;
    text-shadow: 0.025em 0.1em 0 var(--primary-tone-300);

    .mobile & {
      font-size: 2rem;
    }
  }

  ul {
    padding-left: 20px;
    padding-right: 2px;
    list-style-position: outside;

    li {
      margin-bottom: 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .mobile & {
    padding: 58px 12px;
  }

  @keyframes spawn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.disappearing {
    animation: disappear 500ms 1;

    @keyframes disappear {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.8);
        opacity: 0;
      }
    }
  }

  .links {
    padding: 16px;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;
  }

  .link.button {
    height: 48px;
    padding: 0 24px;

    flex-grow: 1 1 160px;

    background-color: rgba(200, 200, 200, 0.05);
    border-radius: 24px;

    transition: 200ms;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .mobile & {
      height: 40px;
      padding: 0 20px;
      border-radius: 20px;
    }

    .notTactile &:hover {
      background-color: rgba(200, 200, 200, 0.1);
      padding: 12px 28px;
    }
  }

  /* former style
  .link.button {
    padding: 12px 16px;

    flex-grow: 1 1 160px;

    background-color: var(--primary-tone-300);
    border-radius: 8px;

    transition-duration: 200ms;
    transition-property: box-shadow, transform;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .notTactile &:hover {
      box-shadow: var(--default-box-shadow);
      transform: scale(102%);
    }
  } */
}
