.main {
  max-width: 400px;
  max-height: 100%;
  padding: 0 20px;
  margin: auto;

  cursor: default;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;

  animation: pageSpawn 500ms 1 cubic-bezier(0, 0, 0.25, 1.5);

  h1.mainTitle {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Lobster";
    letter-spacing: 1px;
    text-shadow: 0.025em 0.1em 0 var(--primary-350);

    margin: 0;

    .mobile & {
      font-size: 2rem;
    }
  }

  p.description {
    text-align: center;
    line-height: 24px;
    margin: 0;
    inline-size: auto;
    writing-mode: horizontal-tb;
  }

  ul {
    padding-left: 20px;
    padding-right: 2px;
    list-style-position: outside;

    li {
      margin-bottom: 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @keyframes pageSpawn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.disappearing {
    animation: pageDisappear 500ms 1 ease-out;

    @keyframes pageDisappear {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.8);
        opacity: 0;
      }
    }
  }

  .links {
    padding: 16px;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;

    .mobile & {
      gap: 12px;
    }
  }
}
