main.project {
  padding: 0;

  .card {
    width: 350px;
    padding: 16px;

    background-color: var(--primary-450);
    border-radius: 16px;

    transition: 200ms;

    .mobile & {
      padding: 12px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icons {
        display: flex;
        gap: 4px;
      }

      .title {
        background-color: var(--primary-500);
        font-size: 14px;
      }
    }

    .description {
      width: 100%;
      padding: 12px 8px 0 8px;

      font-size: 15px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      .code {
        background-color: var(--primary-500);
      }

      .mobile & {
        padding: 8px 4px 0 4px;
      }
    }
  }
}
