main.project {
  padding: 0;

  .card {
    width: 350px;
    padding: 16px;

    border: 1px solid var(--black-700);
    background-color: var(--black-400);
    border-radius: 16px;

    transition: 200ms;

    .mobile & {
      padding: 12px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icons {
        display: flex;
        gap: 4px;
      }
    }

    .description {
      width: 100%;
      padding: 12px 8px 0 8px;

      font-size: 15px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      .mobile & {
        padding: 8px 4px 0 4px;
      }
    }
  }
}
