main.projects {
  max-width: 800px;

  .mobile & {
    padding: 2px;
  }

  .list {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;

    .card {
      width: 350px;
      padding: 16px;

      background-color: var(--primary-450);
      border-radius: 16px;

      transition: 200ms;

      .title {
        display: inline-block;
        background-color: var(--primary-500);
        font-size: 14px;
      }

      .mobile & {
        padding: 12px;
      }

      .description {
        padding: 12px 8px 0 8px;

        font-size: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        * {
          white-space: nowrap;
        }

        .mobile & {
          padding: 8px 4px 0 4px;
        }

        .text {
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .notTactile &:hover {
        background-color: var(--primary-400);
      }
    }
  }
}
