.main.projects {
  max-width: 800px;

  .mobile & {
    padding: 2px;
  }

  .list {
    padding: 4px;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;

    .mobile & {
      padding: 4px;
      max-width: 350px;
    }

    .item {
      max-width: 350px;
      min-width: 300px;
      padding: 0;

      flex: 1 1 160px;

      .mobile & {
        min-width: 180px;
      }

      .card {
        width: 100%;
        height: 100%;
        padding: 16px;

        background-color: var(--primary-450);
        border-radius: 8px;

        transition: 200ms;

        .description {
          padding: 8px 4px 0 4px;

          font-size: 15px;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;

          * {
            white-space: nowrap;
          }

          .text {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .notTactile &:hover {
          background-color: var(--primary-400);
        }
      }
    }
  }
}
