.menuWrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .menu {
    pointer-events: auto;

    padding: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .mobile & {
      gap: 6px;
    }

    .clickable {
      height: 36px;
      padding: 0 18px;

      border-radius: 12px;

      .mobile & {
        height: 30px;
        padding: 0 15px;
        border-radius: 10px;
      }

      .notTactile &:hover {
        background-color: var(--primary-400);
      }

      position: relative;

      &.active {
        padding: 0 28px;

        .mobile & {
          padding: 0 18px;
        }

        &::after {
          $radius: 2px;
          $width: 16px;
          $height: 4px;

          content: "";
          position: absolute;
          width: $width;
          height: $height;
          top: calc(100% + 4px);
          left: 50%;
          margin-left: calc($width / -2);

          background-color: var(--primary-100);
          border-radius: 3px;

          animation: activeNavLinkDot 200ms;

          @keyframes activeNavLinkDot {
            from {
              transform: scaleX(0);
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
