.clickable {
  border: 1px solid var(--black-700);
  background-color: transparent;

  transition: 200ms;

  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 16px;

  cursor: pointer;
}

.button.clickable {
  height: 36px;
  padding: 0 18px;

  border-radius: 12px;

  .notTactile &:hover {
    border-color: transparent;
    background-color: var(--black-700);
  }
}

.container {
  display: flex;
  flex-wrap: nowrap;

  gap: 8px;
}
.container.row {
  flex-flow: row;
}
.container.column {
  flex-direction: column;
}
.container.wrap {
  flex-wrap: wrap;
}
.container.centerStretch {
  align-items: stretch;
  justify-content: center;
}

.code {
  padding: 2px 6px;
  border-radius: 8px;
  background-color: var(--black-800);
  font-family: "Roboto Mono";
  font-size: 13.5px;
}
