html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: #30295140;
}

*:focus-visible {
  outline-color: var(--primary-tone-300);
}

::selection {
  color: var(--text-tone);
  background: #30295180;
}
::-moz-selection {
  color: var(--text-tone);
  background: #30295180;
}

:root {
  --primary-tone-300: #53478f;
  --primary-tone-400: #5f52a3;
  --primary-tone-500: #6b5cb8;
  --primary-tone-600: #8575d1;
  --primary-tone-700: #9285d6;

  --text-tone: #f1f0fa;

  --default-box-shadow: 0 3px 10px rgba(36, 31, 61, 0.05),
    0 3px 3px rgba(36, 31, 61, 0.025);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Lobster&family=Roboto+Mono&display=swap");

html {
  font-size: 16px;
}

#root {
  width: 100%;
  height: 100%;

  color: var(--text-tone);
  background-color: var(--primary-tone-500);

  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  overflow: hidden auto;
  scroll-behavior: smooth;
}

h1,
p,
ul {
  margin: 0.3em 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--primary-tone-400);
  font-family: "Roboto Mono";
  font-size: 13.5px;
}

.link {
  text-decoration: inherit;
  cursor: pointer;

  .tactile & {
    padding: 3px;
  }

  &.underlined {
    text-decoration: underline;
  }
}

.underlined {
  text-decoration: underline;
}

.toast {
  height: 48px !important;
  padding: 0 16px;
  color: inherit !important;
  background-color: rgba(200, 200, 200, 0.1) !important;
  box-shadow: none !important;
  border-radius: 24px;
  font: inherit !important;
  cursor: default;

  .mobile & {
    height: 40px !important;
    padding: 0 10px;
    border-radius: 20px;
  }
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: inherit;
  border: inherit;
}

.mobile .icon {
  width: 20px;
  height: 20px;
}
