html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: hsla(255, 5%, 64%, 0.4);
}

*:focus-visible {
  outline-color: var(--text-color);
}

::selection {
  color: var(--text-color);
  background-color: hsla(255, 5%, 64%, 0.4);
}
::-moz-selection {
  color: var(--text-color);
  background-color: hsla(255, 5%, 64%, 0.4);
}

:root {
  --primary: hsl(247, 50%, 55%);
  --success: #28e460;
  --error: #e42851;

  --text-color: #ffffff;

  // --black-100: hsl(255, 5%, 4%);
  // --black-200: hsl(255, 5%, 8%);
  // --black-300: hsl(255, 5%, 12%);
  --black-400: hsl(255, 5%, 16%);
  --black-500: hsl(255, 5%, 20%);
  // --black-600: hsl(255, 5%, 24%);
  --black-700: hsl(255, 5%, 28%);
  --black-800: hsl(255, 5%, 32%);
  --black-900: hsl(255, 5%, 36%);

  // --white-100: hsl(255, 5%, 64%);
  // --white-200: hsl(255, 5%, 68%);
  // --white-300: hsl(255, 5%, 72%);
  // --white-400: hsl(255, 5%, 76%);
  --white-500: hsl(255, 5%, 80%);
  // --white-600: hsl(255, 5%, 84%);
  // --white-700: hsl(255, 5%, 88%);
  // --white-800: hsl(255, 5%, 92%);
  // --white-900: hsl(255, 5%, 96%);
}

#root {
  width: 100%;
  height: 100%;

  color: var(--text-color);
  background-color: var(--black-400);

  font-size: 16px;
  font-family: "Nunito", sans-serif;

  overflow: hidden auto;
  scroll-behavior: smooth;
}

h1,
p,
ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.underlined {
  text-decoration: underline;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: inherit;
  border: inherit;
}

svg[role="img"] {
  width: 22px;
  height: 22px;

  path {
    fill: var(--text-color);
  }
}

// common

.clickable {
  border: 1px solid var(--black-700);
  background-color: var(--black-400);

  transition: 200ms;

  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 12px;

  cursor: pointer;
}

.button.clickable {
  height: 36px;
  padding: 0 18px;

  border-radius: 12px;

  .non-touch &:hover {
    border-color: var(--black-400);
    background-color: var(--black-700);
  }
}

.container {
  display: flex;
  flex-wrap: nowrap;

  gap: 8px;
}
.container.row {
  flex-flow: row;
}
.container.column {
  flex-direction: column;
}
.container.wrap {
  flex-wrap: wrap;
}
.container.center-stretch {
  align-items: stretch;
  justify-content: center;
}

.code {
  padding: 2px 6px;
  border-radius: 8px;
  background-color: var(--black-800);
  font-family: "Roboto Mono";
  font-size: 13.5px;
}

// layout

.layout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      font-size: 14px;
      opacity: 0.25;
      cursor: default;
    }
  }
}

// toast

.toaster-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;

  padding: 12px;

  display: flex;
  justify-content: end;

  pointer-events: none;

  #toast {
    height: 36px;
    padding: 0 18px;

    background-color: var(--black-400);
    border: 1px solid var(--black-700);
    border-radius: 12px;

    transition: 200ms;

    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transform-origin: bottom;

    &.color-highlight {
      border-color: var(--primary);
      background-color: var(--primary);
    }
    &.color-success {
      border-color: var(--success);
      background-color: var(--success);
    }
    &.color-error {
      border-color: var(--error);
      background-color: var(--error);
    }

    &.hidden {
      animation: toast-disappearing 200ms ease 1;

      @keyframes toast-disappearing {
        from {
          opacity: 1;
          transform: scale(1) translateY(0);
        }
        to {
          opacity: 0;
          transform: scale(0.8) translateY(60px);
        }
      }
    }

    &.visible {
      animation: toast-appearing 200ms ease-in-out 1;
      opacity: 1;

      @keyframes toast-appearing {
        from {
          opacity: 0;
          transform: scale(0.8) translateY(60px);
        }
        to {
          opacity: 1;
          transform: scale(1) translateY(0);
        }
      }
    }
  }
}

// route common

#main {
  max-width: 400px;
  max-height: 100%;
  padding: 0 20px;
  margin: auto;

  cursor: default;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;

  animation: page-spawn 500ms 1 cubic-bezier(0, 0, 0.25, 1.25);

  h1.main-title {
    text-align: center;
    font-size: 2.6rem;
    font-family: "Lobster";
    letter-spacing: 1px;
    text-shadow: 0.025em 0.1em 0 var(--black-900);

    margin: 0;

    .mobile & {
      font-size: 2rem;
    }
  }

  p.description {
    text-align: center;
    line-height: 22px;
    margin: 0;
    inline-size: auto;
    writing-mode: horizontal-tb;
  }

  ul {
    padding-left: 20px;
    padding-right: 2px;
    list-style-position: outside;

    li {
      margin-bottom: 4px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @keyframes page-spawn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.disappearing {
    &.move-left {
      animation: page-moving-left 500ms 1 ease;

      @keyframes page-moving-left {
        0% {
          transform: translateX(0);
          opacity: 1;
        }
        100% {
          transform: translateX(-60px);
          opacity: 0;
        }
      }
    }
    &.move-right {
      animation: page-moving-right 500ms 1 ease;

      @keyframes page-moving-right {
        0% {
          transform: translateX(0);
          opacity: 1;
        }
        100% {
          transform: translateX(60px);
          opacity: 0;
        }
      }
    }
  }

  .links {
    padding: 16px;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;

    .mobile & {
      gap: 12px;
    }
  }
}

// main route

#main.home {
  max-width: 460px;

  .mobile & {
    padding: 58px 16px;
  }

  img.logo {
    margin-bottom: 12px;
    border-radius: 64px;
  }

  .description {
    text-align: center;
  }
}

// social route

#main.social {
  max-width: 500px;
}

// projects route

#main.projects {
  max-width: 800px;

  .mobile & {
    padding: 2px;
    max-width: 400px;
  }

  .list {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: 8px;

    .card {
      width: 350px;
      padding: 16px;

      border: 1px solid var(--black-700);
      background-color: var(--black-400);
      border-radius: 16px;

      transition: 200ms;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icons {
          display: flex;
          gap: 4px;
        }

        .title {
          display: inline-block;
        }
      }

      .mobile & {
        padding: 12px;
      }

      .description {
        padding: 12px 8px 0 8px;

        font-size: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        * {
          white-space: nowrap;
        }

        .mobile & {
          padding: 8px 4px 0 4px;
        }

        .text {
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;

          * {
            display: inline;
          }
        }
      }

      .non-touch &:hover {
        border-color: var(--black-400);
        background-color: var(--black-700);

        .title {
          background-color: var(--black-500);
        }
      }
    }
  }
}

// project route

#main.project {
  padding: 0;

  .card {
    width: 520px;
    padding: 16px;

    border: 1px solid var(--black-700);
    background-color: var(--black-400);
    border-radius: 16px;

    transition: 200ms;

    .mobile & {
      width: 350px;
      padding: 12px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icons {
        display: flex;
        gap: 4px;
      }
    }

    .description {
      width: 100%;
      padding: 12px 8px 0 8px;

      font-size: 15px;
      line-height: 22px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      .mobile & {
        padding: 8px 4px 0 4px;
      }

      p:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}

// not found route

#main.not_found {
  h1.forty-hundred-and-four {
    font-size: 64px;
    animation: glitch404 500ms infinite;

    @keyframes glitch404 {
      0% {
        text-shadow: -2px -2px 0 #ec2794cc, 2px 2px 0 #26ececcc;
      }
      20% {
        text-shadow: -1px -2px 0 #ec2693cc, 2px 1px 0 #26ececcc;
      }
      40% {
        text-shadow: -2px -1px 0 #ec2693cc, 2px 1px 0 #26ececcc;
      }
      60% {
        text-shadow: -1px -1px 0 #ec2693cc, 1px 2px 0 #26ececcc;
      }
      80% {
        text-shadow: -1px -2px 0 #ec2693cc, 2px 1px 0 #26ececcc;
      }
    }
  }
}

// menu

.menu-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .menu {
    pointer-events: auto;

    padding: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .mobile & {
      gap: 6px;
    }

    .clickable.button.active {
      position: relative;

      background: var(--primary);
      border-color: var(--primary);

      .mobile & {
        padding: 0 18px;
      }

      &::after {
        $radius: 2px;
        $width: 16px;
        $height: 4px;

        content: "";
        position: absolute;
        width: $width;
        height: $height;
        top: calc(100% + 4px);
        left: 50%;
        margin-left: calc($width / -2);

        background-color: var(--white-500);
        border-radius: 3px;

        animation: activeNavLinkDot 200ms;

        @keyframes activeNavLinkDot {
          from {
            transform: scaleX(0);
            background-color: transparent;
          }
        }
      }
    }
  }
}
